{% extends "base.html" %}

{% block title %}Available Books{% endblock %}

{% block content %}
<h2>Available Books</h2>
<table>
    <thead>
        <tr>
            <th>ISBN</th>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Availability</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>{{ book['ISBN'] }}</td>
            <td>{{ book['Title'] }}</td>
            <td>{{ book['Author'] }}</td>
            <td>{{ book['Genre'] }}</td>
            <td>{{ book['AvailabilityStatus'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
